.section {
  background-color: hsl(0, 0%, 100%);
  margin: 10px;
}

.section__title {
  padding: 20px;
  margin: 0;
}

.section__list {
  display: grid;
  grid-template-columns:1fr auto;
}

@media (max-width: 767px) {
  .section__list {
    grid-template-columns: 1fr;
  }
}